<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List of Food</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <table>
        <!-- <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr> -->
        <tr th:each="food : ${foodList}">
            <td class="align-middle" th:text="${food.name}"></td>
            <td class="align-middle" th:text="${food.meal}"></td>
            <td class="align-middle" th:text="${food.calories}"></td>
            <!-- <td class="align-middle" th:text="${food.id}"></td>
            <td class="align-middle" th:text="${food.carbs}"></td>
            <td class="align-middle" th:text="${food.fat}"></td>
            <td class="align-middle" th:text="${food.protein}"></td>
            <td class="align-middle" th:text="${food.serving_size}"></td>
            <td class="align-middle" th:text="${food.servings}"></td>
            <td class="align-middle" th:text="${food.user_id}"></td> -->
        </tr>
    </table>
    <div class="container text-center">
        <p>Click <a th:href="@{/home}">here</a> to return to the home page.</p>
    </div>
     
</body>
</html>