<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List of Food</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <table>
        <tr>
            <th>Food</th>
            <th>Meal</th>
            <th>Calories</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Protein</th>
            <th>Serving Size</th>
            <th>Servings</th>
        </tr>
        <tr th:each="food : ${foodList}">
            <td class="align-middle" th:text="${food.name}"></td>
            <td class="align-middle" th:text="${food.meal}"></td>
            <td class="align-middle" th:text="${food.calories}"></td>
            <td class="align-middle" th:text="${food.carbs}"></td>
            <td class="align-middle" th:text="${food.fat}"></td>
            <td class="align-middle" th:text="${food.protein}"></td>
            <td class="align-middle" th:text="${food.servingSize}"></td>
            <td class="align-middle" th:text="${food.servings}"></td>
        </tr>
    </table>
    <div class="container text-center">
        <p>Click <a th:href="@{/home}">here</a> to return to the home page.</p>
    </div>
     
</body>
</html>